<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="overview"></ion-back-button>
        </ion-buttons>
        <ion-title>Haushalt Anlegen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Haushalt Anlegen</ion-title>
        </ion-toolbar>
    </ion-header>

    <div id="container">
        <form [formGroup]="form" (ngSubmit)="createHousehold()">
            <ion-list>
                <ion-item>
                    <ion-label position="floating">Bezeichnung</ion-label>
                    <ion-input formControlName="name" required type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Stadt</ion-label>
                    <ion-input formControlName="city" required type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Postleitzahl</ion-label>
                    <ion-input formControlName="postalCode" required type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Straße und Hausnummer</ion-label>
                    <ion-input formControlName="street" required type="text"></ion-input>
                </ion-item>
                <ion-button expand="block" type="submit">Haushalt Anlegen</ion-button>
                <!--            <div *ngFor="let item of bewohnerArray(); let i = index;">
                <h3>Bewohner {{ i+1 }}</h3>
                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input required type="text"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label>Ernährungsform</ion-label>
                    <ion-select placeholder="Auswählen">
                        <ion-select-option value="vegetarisch">Vegetarisch</ion-select-option>
                        <ion-select-option value="vegan">Vegan</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Produkt Ausschließen</ion-label>
                    <ion-select multiple="true" placeholder="Auswählen">
                        <ion-select-option value="schwein">Fisch</ion-select-option>
                        <ion-select-option value="schwein">Schwein</ion-select-option>
                        <ion-select-option value="geflügel">Geflügel</ion-select-option>
                        <ion-select-option value="rind">Rind</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-item>
                    <ion-label>Allergien</ion-label>
                    <ion-select multiple="true" placeholder="Auswählen">
                        <ion-select-option value="schwein">Laktose</ion-select-option>
                        <ion-select-option value="schwein">Fructose</ion-select-option>
                        <ion-select-option value="schwein">Hülsenfrüchte</ion-select-option>
                    </ion-select>
                </ion-item>
            </div>-->
            </ion-list>
        </form>
    </div>
</ion-content>