<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Übersicht</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <a [routerLink]="['/order/select-residents']">
      <strong class="capitalize">Ziemlich Leer hier</strong>
      <p>Klicke hier für deine erste Bestellung</p>
      <br />
      <p class="add-icon"><ion-icon name="add-circle-outline"></ion-icon></p>
    </a>
  </div>
</ion-content>