<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Boxen</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <div id="container">
        <ion-card>
            <ion-card-header>
                <ion-card-subtitle>Ein Toller Untertitel</ion-card-subtitle>
                <ion-card-title>Nudeln & Pasta</ion-card-title>
            </ion-card-header>
            <ion-card-content>
                Diese Box ist wie eine Woche Italienurlaub und versorgt dich mit dem nötigsten für tolle Nudelgerichte.
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>